body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-variant:small-caps;
  color: #2F5233;
  background-color: #76B041;
  text-align: center;
  padding: 2rem;
}

.card {
  background-color: #C0DFA1;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 0.75rem 1.5rem;
  border-color: #d8ff17;
  border-radius: 40%;
  border-width: 2mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-variant: small-caps;
  color: #3c5f36;
  font-weight: bolder;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #a6ce55;
  border-style:double;
}
