body {
  background-image: url('/campo.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-shadow: 0 0 2px #fafafa,
               0 0 2px #dfe6cd,
               0 0 0px #54924e;
  font-variant:small-caps;
  color: #397d6a;
  text-align: center;
  padding: 2rem;
}

.card {
  background-color: #b1ebc7;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  padding: 0.75rem 1.5rem;
  border-color: #184339;
  border-radius: 40%;
  border-width: 2mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-variant: small-caps;
  color: #efede3;
  font-weight: bolder;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #397d6ac7;
  border-style:double;
  text-shadow: 0 0 4px #280404,
  0 0 10px #f9f6f9,
  0 0 2px #d16799;
}
